

<div>
    <center>
    <h1>Lista de algunos pokemones para buscar</h1>
    </center>
{{#each results }}
    <div style="width: 20%; float: left;">
      <a href="/poke/buscarPokeId/{{name}}"><span>{{ name }}</span></a> 
    </div>
{{/each}}
</div>


